@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply tw-font-sans tw-text-white tw-text-base;
  background-color: #343a40;
}

/**
 * Underline link animation
 */
 a {
  @apply tw-relative tw-text-white;

  &:before {
    @apply tw-absolute tw-w-full tw-h-px tw-bottom-0 tw-left-0 tw-invisible tw-bg-white;
    content: "";
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }

  &:hover:before {
    @apply tw-visible;
    transform: scaleX(1);
  }
}

/**
 * Container
 */
.container {
  @apply md:tw-container md:tw-mx-auto;
}

.container-fluid {
  @apply md:tw-container;
}

/**
 * Primary Color
 */
.primary-green-text {
  @apply tw-text-green-500;
}

.primary-green-bg {
  @apply tw-text-green-500;
}
